{% extends 'teacher_base.html' %}


{% load static %}

{% block title %}

Manage Classes | Macdonald Trevan International schools

{% endblock %}


{% block content%}



<div class="dashboard-body">
    <!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
<ul class="flex-align gap-4">
<li><a href="" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
<li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
<li><span class="text-main-600 fw-normal text-15">Manage Classes</span></li>
</ul>
</div>
<!-- Breadcrumb End -->



    <!-- Recommended Course Start -->
    <div class="card mt-24">
        <div class="card-body">
            <h4 class="mb-0">Courses</h4>
            <div class="row g-20">
                {% for course_data in courses_with_student_counts %}
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="card border border-gray-100">
                        <div class="card-body p-8">
                            <h5 class="mb-0">{{ course_data.course.name }}</h5>
                            <span class="text-gray-600 text-13">Class: {{ course_data.class_name }}</span><br>
                            <span class="text-gray-600 text-13">Students: {{ course_data.student_count }}</span>
                            <div class="mt-12">
                                <a href="{% url 'teacher_view_grade' course_data.course.id %}" class="btn btn-outline-main rounded-pill py-9">View Grades</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        


        
    </div>
    <!-- Recommended Course End -->
</div>




{% endblock %}