{% extends 'admin_base.html' %}


{% block content %}

{% load static  %}





<div class="dashboard-body">
    <!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
<ul class="flex-align gap-4">
<li><a href="" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
<li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
<li><span class="text-main-600 fw-normal text-15">Setting</span></li>
</ul>
</div>
<!-- Breadcrumb End -->
     
    <div class="card overflow-hidden">
        <div class="card-body p-0">
           

            <div class="setting-profile px-24">
                <div class="flex-between">
                    <div class="d-flex align-items-end flex-wrap mb-32 gap-24">
                        <img src="{% static 'auth/assets/images/thumbs/setting-profile-img.jpg' %}" alt="" class="w-120 h-120 rounded-circle border border-white">
                        <div>
                            <h4 class="mb-8">
                                
                            {% if request.user.is_authenticated and request.user.is_superuser %}
                                <h4 class="mb-0">{{ request.user.get_full_name|default:request.user.username }}</h4>
                                <p class="fw-medium text-13 text-gray-200">{{ request.user.email }}</p>
                            {% else %}
                                <h4 class="mb-0">Admin</h4>
                                <p class="fw-medium text-13 text-gray-200">No Email Available</p>
                            {% endif %}
                        </h4>
                         
                        </div>
                    </div>
                </div>
                <ul class="nav common-tab style-two nav-pills mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details" aria-selected="true">My Details</button>
                    </li>
                   
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">Password</button>
                    </li>
                   
                  
                </ul>
            </div>

        </div>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <!-- My Details Tab start -->
        <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab" tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">My Details</h4>
                    <p class="text-gray-600 text-15">Please fill full details about yourself</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row gy-4">
                            <div class="col-sm-6 col-xs-6">
                                <label for="fname" class="form-label mb-8 h6">User Name</label>
                                <input type="text" name="username" class="form-control py-11" id="fname" value="{{ username }}" required>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <label for="lname" class="form-label mb-8 h6">Email </label>
                                <input type="email" class="form-control py-11" id="lname" value="{{ email }}" required name="email">
                            </div>

                            <div class="col-12">
                                <div class="flex-align justify-content-end gap-8">
                                    <button type="submit" class="btn btn-main rounded-pill py-9">Save  Changes</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- My Details Tab End -->
        
       

        <!-- Password Tab Start -->
        <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab" tabindex="0">
            <div class="card mt-24">
                <div class="card-header border-bottom">
                    <h4 class="mb-4">Password Settings</h4>
                    <p class="text-gray-600 text-15">Please fill full details about yourself</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post">
                                <div class="row gy-4">
                                    <div class="col-12">
                                        <label for="current-password" class="form-label mb-8 h6">Current Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control py-11" id="current-password" name="old_password" placeholder="Enter Current Password">
                                            <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash" id="#current-password"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="new-password" class="form-label mb-8 h6">New Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control py-11" id="new-password" placeholder="Enter New Password" name="new_password" >
                                            <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash" id="#new-password"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="confirm-password" class="form-label mb-8 h6">Confirm Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control py-11" id="confirm-password" placeholder="Enter Confirm Password">
                                            <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y ph ph-eye-slash" id="#confirm-password" name="confirm_password" ></span>
                                        </div>
                                    </div>
         
                                </div>
                            </form>
                        </div>
                        <div class="col-12">
                            <div class="flex-align justify-content-end gap-8">
                                
                                <button type="submit" class="btn btn-main rounded-pill py-9">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Password Tab End -->


    </div>
</div>



{% endblock %}